<div class="content">
    <div class="w100 flex colum center">
        {{#if favorites}}
        <h1>Tu Productos Favoritos</h1>
        {{#each favorites}}
        <div class="w100">
                <div class="border flex w100 between favoritePrincipal">
                    <div class="flex w100 favoriteInfo">
                        <div class="imgFav">
                            <img class="" src="img/products/{{this.img}}">
                        </div>
                        <div class="w100 infoCart">
                            <div class="">
                                <h3>{{this.title}}</h3>
                                <p>{{this.code}}</p>
                            </div>
                            <div class="w100">
                                <h5>Precio : $ {{this.price}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="flex faboriteButton">
                        <form action="/api/products/{{this._id}}/favorite/{{../user.email}}/favorite" method="POST" class="favBTN">
                            <button class="btnFavorite"><img src="img/{{#if this.favorite}}favorite.png{{else}}nofavorite.png{{/if}}" alt=""></button>
                        </form>
                                                {{#if this.stock}}
                        <form action="/api/carts/{{../user.cart}}/product/{{this._id}}/favorite" method="POST">
                            <button class="btnProducts btn btnWARNIG">Comprar!</button>
                        </form>
                        {{else}}
                            {{#if this.notify}}
                                <p class="">Notify!</p>
                            {{else}}
                                <form action="/api/products/{{this._id}}/notify/{{../user.email}}/favorite" method="POST">
                                    <button class="btnProducts btn btnWARNIG">Notificarme!</button>
                                </form>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
        </div>
        {{/each}}

        {{else}}
        <h1>No tenes productos favoritos</h1>
        {{/if}}
    </div>
</div>